<!-- section title -->
{{define "title"}} {{index . "Title"}} {{end}}
<!-- end section title -->
{{define "content"}}
<div class="content-wrapper">
  <section class="content-header">
    <h1>{{index . "Title"}}</h1>
    <ol class="breadcrumb">
      <li>
        <a href="/"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Show clients</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="container">
          <div class="row">
            <h3>{{index . "msg"}}</h3>
            <p>
              {{$var1 := index . "client"}} {{$var1.Ci}} - {{$var1.FirstName}} -
              {{$var1.LastName}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{end}}
