<!-- section title -->
{{define "title"}} {{index . "Title"}} {{end}}
<!-- end section title -->
{{define "content"}}
<div class="content-wrapper">
  <section class="content-header">
    <h1>{{index . "Title"}}</h1>
    <ol class="breadcrumb">
      <li>
        <a href="/"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <a href="/clients/search" class="btn btn-success">Search</a>
    <div class="box">
      <div class="box-header with-border">
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">{{index . "msg"}}</div>
    </div>
  </section>
</div>
{{end}}
